@model Route
    <div class="card shadow w-100">
        <div class="card-body row align-items-center">
            <div class="col-sm-6 card-text">
                <a asp-controller="Route" asp-action="Details" asp-route-id="@Model.RouteId" class="card-title route-title">@Model.StartRoute <i class="fas fa-long-arrow-alt-right"></i> @Model.EndRoute</a>
                <p class="card-text">@Model.StartRoute > @Model.Route1 > @Model.Route2 > @Model.Route3 > @Model.EndRoute</p>
            </div>
            <div class="col-sm-1 card-text p-2 text-center">
                <img src="~/img/car-seat.png" class="seat-icon" alt=""> 2+1
            </div>
            <div class="col-sm-3 card-text text-center">
                <h5>@Model.Date - @Model.Hour</h5>
            </div>
            <div class="col-sm-2 d-flex align-items-center card-text text-center">
                <div class="m-2">
                    <h5>@Model.Price <i class="fa-solid fa-turkish-lira-sign"></i></h5>
                </div>
                <div>
                    <a asp-controller="Route" asp-action="Details" asp-route-id="@Model.RouteId" class="btn btn-sm buton-sec m-2">Seç</a>
                </div>
            </div>
        </div>
    </div>
